<div>
  <h2 id="page-heading" data-cy="CommandHeading">
    <span jhiTranslate="coopcyclejhipsterApp.command.home.title">Commands</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopcyclejhipsterApp.command.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-command"
        [routerLink]="['/command/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopcyclejhipsterApp.command.home.createLabel"> Create a new Command </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="commands?.length === 0">
    <span jhiTranslate="coopcyclejhipsterApp.command.home.notFound">No commands found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="commands && commands.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="coopcyclejhipsterApp.command.addressC">Address C</span></th>
          <th scope="col"><span jhiTranslate="coopcyclejhipsterApp.command.dateC">Date C</span></th>
          <th scope="col"><span jhiTranslate="coopcyclejhipsterApp.command.client">Client</span></th>
          <th scope="col"><span jhiTranslate="coopcyclejhipsterApp.command.driver">Driver</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let command of commands; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/command', command.id, 'view']">{{ command.id }}</a>
          </td>
          <td>{{ command.addressC }}</td>
          <td>{{ command.dateC }}</td>
          <td>
            <div *ngIf="command.client">
              <a [routerLink]="['/client', command.client?.id, 'view']">{{ command.client?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="command.driver">
              <a [routerLink]="['/driver', command.driver?.id, 'view']">{{ command.driver?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/command', command.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/command', command.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(command)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
