<div>
  <h2 id="page-heading" data-cy="CartHeading">
    <span jhiTranslate="coopcyclejhipsterApp.cart.home.title">Carts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopcyclejhipsterApp.cart.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cart"
        [routerLink]="['/cart/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopcyclejhipsterApp.cart.home.createLabel"> Create a new Cart </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="carts?.length === 0">
    <span jhiTranslate="coopcyclejhipsterApp.cart.home.notFound">No carts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="carts && carts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="coopcyclejhipsterApp.cart.amount">Amount</span></th>
          <th scope="col"><span jhiTranslate="coopcyclejhipsterApp.cart.deadline">Deadline</span></th>
          <th scope="col"><span jhiTranslate="coopcyclejhipsterApp.cart.command">Command</span></th>
          <th scope="col"><span jhiTranslate="coopcyclejhipsterApp.cart.client">Client</span></th>
          <th scope="col"><span jhiTranslate="coopcyclejhipsterApp.cart.shop">Shop</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cart of carts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cart', cart.id, 'view']">{{ cart.id }}</a>
          </td>
          <td>{{ cart.amount }}</td>
          <td>{{ cart.deadline }}</td>
          <td>
            <div *ngIf="cart.command">
              <a [routerLink]="['/command', cart.command?.id, 'view']">{{ cart.command?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cart.client">
              <a [routerLink]="['/client', cart.client?.id, 'view']">{{ cart.client?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="cart.shop">
              <a [routerLink]="['/shop', cart.shop?.id, 'view']">{{ cart.shop?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/cart', cart.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/cart', cart.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cart)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
