<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="client">
      <h2 data-cy="clientDetailsHeading"><span jhiTranslate="coopcyclejhipsterApp.client.detail.title">Client</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ client.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.client.idC">Id C</span></dt>
        <dd>
          <span>{{ client.idC }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.client.firstnameC">Firstname C</span></dt>
        <dd>
          <span>{{ client.firstnameC }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.client.lastnameC">Lastname C</span></dt>
        <dd>
          <span>{{ client.lastnameC }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.client.emailC">Email C</span></dt>
        <dd>
          <span>{{ client.emailC }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.client.phoneC">Phone C</span></dt>
        <dd>
          <span>{{ client.phoneC }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.client.addressC">Address C</span></dt>
        <dd>
          <span>{{ client.addressC }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
