<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="driver">
      <h2 data-cy="driverDetailsHeading"><span jhiTranslate="coopcyclejhipsterApp.driver.detail.title">Driver</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ driver.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.driver.firstnameD">Firstname D</span></dt>
        <dd>
          <span>{{ driver.firstnameD }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.driver.lastnameD">Lastname D</span></dt>
        <dd>
          <span>{{ driver.lastnameD }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.driver.phoneD">Phone D</span></dt>
        <dd>
          <span>{{ driver.phoneD }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.driver.cooperative">Cooperative</span></dt>
        <dd>
          <div *ngIf="driver.cooperative">
            <a [routerLink]="['/cooperative', driver.cooperative?.id, 'view']">{{ driver.cooperative?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/driver', driver.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
