<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="command">
      <h2 data-cy="commandDetailsHeading"><span jhiTranslate="coopcyclejhipsterApp.command.detail.title">Command</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ command.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.command.addressC">Address C</span></dt>
        <dd>
          <span>{{ command.addressC }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.command.dateC">Date C</span></dt>
        <dd>
          <span>{{ command.dateC }}</span>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.command.client">Client</span></dt>
        <dd>
          <div *ngIf="command.client">
            <a [routerLink]="['/client', command.client?.id, 'view']">{{ command.client?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="coopcyclejhipsterApp.command.driver">Driver</span></dt>
        <dd>
          <div *ngIf="command.driver">
            <a [routerLink]="['/driver', command.driver?.id, 'view']">{{ command.driver?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/command', command.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
