<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-client-heading" data-cy="ClientCreateUpdateHeading" jhiTranslate="coopcyclejhipsterApp.client.home.createOrEditLabel">
        Create or edit a Client
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcyclejhipsterApp.client.idC" for="field_idC">Id C</label>
          <input type="text" class="form-control" name="idC" id="field_idC" data-cy="idC" formControlName="idC" />
          <div *ngIf="editForm.get('idC')!.invalid && (editForm.get('idC')!.dirty || editForm.get('idC')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('idC')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcyclejhipsterApp.client.firstnameC" for="field_firstnameC">Firstname C</label>
          <input
            type="text"
            class="form-control"
            name="firstnameC"
            id="field_firstnameC"
            data-cy="firstnameC"
            formControlName="firstnameC"
          />
          <div *ngIf="editForm.get('firstnameC')!.invalid && (editForm.get('firstnameC')!.dirty || editForm.get('firstnameC')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstnameC')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstnameC')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstnameC')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Firstname C' }"
            >
              This field should follow pattern for "Firstname C".
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcyclejhipsterApp.client.lastnameC" for="field_lastnameC">Lastname C</label>
          <input type="text" class="form-control" name="lastnameC" id="field_lastnameC" data-cy="lastnameC" formControlName="lastnameC" />
          <div *ngIf="editForm.get('lastnameC')!.invalid && (editForm.get('lastnameC')!.dirty || editForm.get('lastnameC')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastnameC')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastnameC')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastnameC')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Lastname C' }"
            >
              This field should follow pattern for "Lastname C".
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcyclejhipsterApp.client.emailC" for="field_emailC">Email C</label>
          <input type="text" class="form-control" name="emailC" id="field_emailC" data-cy="emailC" formControlName="emailC" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcyclejhipsterApp.client.phoneC" for="field_phoneC">Phone C</label>
          <input type="text" class="form-control" name="phoneC" id="field_phoneC" data-cy="phoneC" formControlName="phoneC" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcyclejhipsterApp.client.addressC" for="field_addressC">Address C</label>
          <input type="text" class="form-control" name="addressC" id="field_addressC" data-cy="addressC" formControlName="addressC" />
          <div *ngIf="editForm.get('addressC')!.invalid && (editForm.get('addressC')!.dirty || editForm.get('addressC')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('addressC')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('addressC')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
